.container{
    text-align: center;
}
.submit{
    margin-top: 1vh;
}
.todoList{
    margin-top: 1.5vh;
}
.strikeThrough{
    text-decoration: line-through;
}
.separate{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.space{
    margin-right: 10px;
}